aiobotocore==2.3.4
aiohttp==3.8.1
aioitertools==0.10.0
aiosignal==1.2.0
alabaster==0.7.12
asgiref==3.5.2
async-timeout==4.0.2
backports.zoneinfo==0.2.1
blis==0.7.8
botocore==1.24.21
brotlipy==0.7.0
catalogue==2.0.7
certifi==2022.6.15
cftime==1.6.1
click==8.1.3
cloudpickle==2.1.0
conda==4.13.0
cycler==0.11.0
cymem==2.0.6
dask==2022.7.0
Django==4.0.6
docutils==0.18.1
fastai==2.7.6
fastcore==1.4.5
fastdownload==0.0.7
fastprogress==1.0.2
fonttools==4.34.4
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
gsw==3.4.0
imagesize==1.4.1
ipython-genutils==0.2.0
jmespath==1.0.1
joblib==1.1.0
kiwisolver==1.4.3
langcodes==3.3.0
llvmlite==0.38.1
locket==1.0.0
matplotlib==3.5.2
multidict==6.0.2
murmurhash==1.0.7
netCDF4==1.6.0
numba==0.55.2
numpy==1.22.4
partd==1.2.0
pathy==0.6.2
Pillow==9.2.0
preshed==3.0.6
pycosat==0.6.3
pydantic==1.9.1
PyYAML==6.0
pyzmq==19.0.2
s3fs==2022.5.0
scikit-learn==1.1.1
scipy==1.8.1
smart-open==5.2.1
spacy==3.4.0
spacy-legacy==3.0.9
spacy-loggers==1.0.2
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
srsly==2.4.3
thinc==8.1.0
threadpoolctl==3.1.0
toolz==0.12.0
torch==1.12.0
torchvision==0.13.0
typer==0.4.2
typing_extensions==4.3.0
wasabi==0.9.1
webencodings==0.5.1
wrapt==1.14.1
xarray==2022.3.0
xgcm==0.6.1
yarl==1.7.2
